<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="signout-header">
  <h2>REGESTER</h2>
  <div class="actions">
    <%= f.submit "Next", class: "next"%>
  </div>
  </div>
<div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "Full Name", placeholder: "Full Name"%>
  </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"%>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em style="padding: 10px;">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
